
*{
	margin: 0;
	padding: 0;
	font-family: "Arial", "Microsoft YaHei", "SimHei", "SimSun", sans-serif;
}
body{
	height: 100%;
	width: 900px;
	margin: 50px auto;
}
.layout{
	width: 900px;
	margin: 50px auto;
	padding-right: 50px;
	box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
}
header,.main{
	width: 900px;
}
.info{
	float: left;
	margin: 30px 50px;
}
.info>div{
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	padding-top: 60px;
}
.info .position{
	padding: 10px 0;
}
.info>img{
	width: 150px;
	height: 210px;
	display: inline-block;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.contacts{
	width: 350px;
	margin-left: 60px;
	display: inline-block;
}
.contacts .title{
	margin-top: 30px;
	border-bottom: 4px solid #000;
	width: 300px;
	padding-bottom: 10px;
}
.contacts .list{
	list-style: none;
}
.contacts .items{
	padding: 10px 0;
}
.work-exp,.edu,.extra{
	width: 900px;
	margin: 30px 50px 30px 0px;
}
.main .list>li{
	padding: 0 0 10px 30px;
	position: relative;
}
.main .title{
	border-bottom: 2px solid #ccc;
	width: 300px;
	padding-bottom: 10px;
}
.main .list{
	width: 700px;
	margin: 20px 0px;
	padding-left: 10px;
	list-style: none;
}
.main .list p{
	margin-bottom: 8px;
}
.main .items:before{
	content: '';
    width: 1px;
    background-color: #b7b7b7;
    position: absolute;
    top: 13px;
    bottom: -2px;
    left: 0;
}
.list .dot{
	width: 0;
	height: 0;
    border: 6px solid #000;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    margin-left: -35px;
    margin-top: 2px;
}
.extra,.main{
	margin: 30px 50px;
}
.extra .title{
	border-bottom: 2px solid #ccc;
	width: 300px;
	padding-bottom: 10px;
}
.skills{
	width: 300px;
	display: inline-block;
}
.skills .flex{
	display: flex;
	flex-wrap: wrap;
}
.flex .details{
	padding: 10px 20px 10 0px;
	width: 100px;
	vertical-align: middle;
}
.flex .details a{
	text-decoration: none;
}
.self-evalutaion{
	float: right;
	display: inline-block;
	width: 500px;
	padding-bottom: 30px;
	margin-left: 50px;
}
.self-evalutaion .list{
	padding-top: 10px;
}
.self-evalutaion .items{
	padding-bottom: 10px;
}
.extra .iconfont:before{
	content: "";
}

